@using FreteFree.Models.Enum
@model FreteFree.Models.Motorista.Motorista


@{
    ViewData["Title"] = "Create";
}

<h3>Novo Motorista</h3>

<hr />
<partial name="_NovoEeditar" />

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
