@model FreteFree.Models.Motorista.Motorista

@{
    ViewData["Title"] = "Details";
}

<h3>Detailhes Motorista</h3>

<div>
    <h4>Motorista</h4>
    <hr />
        <partial name="_DetalheDelete" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MotoristaId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
