@model FreteFree.Models.Motorista.Motorista

@{
    ViewData["Title"] = "Edit";
}

<h3>Editar</h3>

<hr />
<partial name="_NovoEeditar" />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
