@using FreteFree.Models.Enum
@model FreteFree.Models.Motorista.OrdemCarregamento

@{
    ViewData["Title"] = "Create";
}

<h1>Nova Orderm de Carregamento</h1>

@*<h4>OrdemCarregamento</h4>*@
<hr />

<partial name="_CriarEditar" />

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
