@model FreteFree.Models.Motorista.OrdemCarregamento


<h3>Desativar</h3>

<h3>Você realmente precisa deleta ?</h3>


<partial name="_DetalheDeletar" />

<form asp-action="Deletar">
    <input type="hidden" asp-for="OrdemCarregamentoId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Voltar</a>
</form>