@model FreteFree.Models.Motorista.OrdemCarregamento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<partial name="_DetalheDeletar" />
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrdemCarregamentoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
